[submodule "pybind11"]
    path = pybind11
    url = https://github.com/pybind/pybind11.git
    branch = master
[submodule "src/external/fast-wfc"]
	path = src/external/fast-wfc
	url = https://github.com/aod321/fast-wfc
